<div class="container-fluid">

  <div *ngFor="let article of articles; let i = index">
    <div class="row">
      <div class="col-9">
        <ngb-tabset>
          <ngb-tab [title]="article[i].name">
            <ng-template ngbTabContent>
              <p>{{ article[i].description }}</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="col-3">
        <img class="img-challenge img-responsive" [src]="article[i].image" alt="Challenge 1">
      </div>
    </div>   
  </div>

</div>
<router-outlet></router-outlet>
